#page-wrapper {
    padding: 0 15px 60px;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .my-table tr th {
    background: #5a6a78;
    color: white;
}

thead tr th:last-child {
    width: 140px;
}

.select-margin {
    margin-top: 27px;
    width: 15rem;
}

.margin {
    margin-right: 20px;
}

.my-form-group .select2-container--default .select2-selection--single {
    min-height: 32px;
    border-radius: 0;
    border-color: #e5e6e7;
}

@media (max-width: 1320px) {
    .form-block-1,
    .selects {
        flex-direction: column;
    }

}

@media (max-width: 1537px) {

    .form-block .select-size {
        margin-top: 10px;
    }
}

.select-size {
    width: 15rem;
}

.select2-container--default .select2-selection--multiple {
    border: solid #e5e6e7 1px !important;
    border-radius: 0 !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single {
    border-color: #1ab394 !important;
}

.gallery-img img {
    width: 183px;
    height: 140px;
    object-fit: cover;

}

.gallery-img {
    position: relative;
}

.gallery-img .btn-danger {
    position: absolute;
    right: 0;
    top: 0;
}

.check-permission .fa-check-circle {
    font-size: 20px;
    color: #7fba00
}

.check-permission .fa-times-circle {
    font-size: 20px;
    color: #fa7373
}

.check-permission {
    cursor: pointer;
}

.setting-icon img {
    width: 30px;
    height: 30px
}

.my-form-group {
    width: 13rem;
}

.margin-top {
    margin-top: 1.7rem;

}

.delete-fa {
    font-size: 20px;
}

.my-form-group .form-time {
    min-height: 2.2rem;
}

.my-btn-group .fa {
    font-size: 18px;
    vertical-align: middle;
    margin: 0 5px;
}

.table > tbody > tr > td:last-child {
    text-align: center;
}

.my-btn-group .fa-eye {
    color: #21b9bb;
}

.my-btn-group .fa-pencil-square-o {
    color: #1ab394;
}

.my-btn-group .fa-trash-o {
    color: #ed5562;
}
.my-btn-group .fa-lock{
    color: #5a6a78;
}

.my-btn-group form button {
    background-color: transparent;
    border: transparent;
    padding: 0;
}

.my-btn-group {
    vertical-align: middle;
    align-items: center;
}

.my-btn-group a {
    line-height: 1;
}

.border-none {
    border: none;
}

.my-table-res {
    max-width: 625px;
    margin: 0 auto;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;

}

.file-label {
    padding: 5px 4px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0;
}


.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-content {
    position: relative;
    min-width: 200px;
    min-height: 150px;
    height: 100%;
    max-height: 250px;
    padding: 2px;
    white-space: normal;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    overflow-y: auto;
    overflow-x: hidden;
}
.ol-popup-content p {
    font-size: 14px;
    padding: 2px 4px;
    color: #222;
    margin-bottom: 15px;
}
.ol-popup-closer:after {
    content: "\2716";

}
.ol-popup-closer{
    position: absolute;
    font-size: 17px;
    color: #000000;
    text-decoration: none;
    top: 3px;
    right: 8px;
}

.ol-popup-content h5,
.ol-popup-content h1{
    font-size: 16px;
}

.nav-second-level li a{
    padding-left: 34px;
}